<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kenny.dailyenglish"
    android:installLocation="auto"
    android:versionCode="103"
    android:versionName="1.3" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="14" />

    <!-- VERY IMPORTANT! Don't forget this permission, or in-app billing won't work. -->
    <!-- <uses-permission android:name="com.android.vending.BILLING" /> -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <application
        android:name="com.kenny.Application.KApp"
        android:debuggable="false"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light.NoTitleBar" >
        <activity
            android:name="com.kenny.activity.MainOld"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.kenny.activity.InfoHomePage"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.kenny.activity.InfoDailyFavoritePage"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.kenny.activity.InfoVOAFavoritePage"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.kenny.activity.InfoVOAViewPage"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.kenny.activity.LoadPage"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.kenny.activity.Feedback"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.kenny.activity.V6UMengFeedback"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.kenny.activity.Setting"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.kenny.activity.About"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.kenny.activity.InfoViewPage"
            android:screenOrientation="portrait" >
        </activity>

        <receiver
            android:name="com.kenny.receiver.AlarmReceiver"
            android:process=":remote" >
        </receiver>
        <receiver
            android:name="com.kenny.receiver.TimerReceiver"
            android:process=":TimerReceiver" >
        </receiver>

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="528b314256240be0e3367f2d" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="google" />
    </application>

</manifest>