<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kenny.dailyenglish"
    android:installLocation="auto"
    android:versionCode="101"
    android:versionName="1.1" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="14" />

    <!-- VERY IMPORTANT! Don't forget this permission, or in-app billing won't work. -->
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera.flash" />

    <uses-permission android:name="com.sonyericsson.permission.CAMERA_EXTENDED" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera.flash" />

    <uses-permission android:name="com.sonyericsson.permission.CAMERA_EXTENDED" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />
    <application
        android:name="com.kenny.Application.KApp"
        android:debuggable="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light.NoTitleBar" >
        <activity
            android:name="com.kenny.activity.MainOld"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.kenny.activity.Main"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.kenny.activity.InfoHomePage"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
                <activity
            android:name="com.kenny.activity.SubscribePage"
            android:screenOrientation="portrait" >
        </activity>
        
        <activity
            android:name="com.kenny.activity.InfoDailyFavoritePage"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.kenny.activity.InfoVOAFavoritePage"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.kenny.activity.InfoVOAViewPage"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.kenny.activity.V6LoadPage"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.kenny.activity.NotificationActivity"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.kenny.activity.Powerword"
            android:theme="@android:style/Theme.NoDisplay" >
        </activity>
        <activity
            android:name="com.kenny.activity.APowerword"
            android:theme="@android:style/Theme.NoDisplay" >
        </activity>
        <activity
            android:name="com.kenny.activity.V6Feedback"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.kenny.activity.V6UMengFeedback"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.kenny.activity.Guide"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.kenny.activity.Help"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.kenny.activity.V6Setting"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.kenny.activity.V6Push"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.kenny.activity.V6About"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.kenny.activity.V6Login"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.kenny.activity.V6BigImageActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.kenny.activity.V6Sign"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.kenny.activity.TipsActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.kenny.activity.InfoViewPage"
            android:screenOrientation="portrait" >
        </activity>
        <receiver
            android:name="com.kenny.receiver.AlarmReceiver"
            android:process=":remote" >
        </receiver>
        <activity-alias
            android:name="com.kingsoft.Powerword"
            android:enabled="true"
            android:exported="true"
            android:icon="@drawable/icon"
            android:label="123"
            android:targetActivity="com.kenny.activity.Powerword" >
            <intent-filter>
                <action android:name="Powerword" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name="com.kingsoft.Powerword"
            android:enabled="true"
            android:exported="true"
            android:icon="@drawable/icon"
            android:label="123"
            android:targetActivity="com.kenny.activity.APowerword" >
            <intent-filter>
                <action android:name="APowerword" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity-alias>
        <service android:name="com.kenny.service.NotificationService" >
            <intent-filter>
                <action android:name="com.kingsoft.service.NotificationService" />
            </intent-filter>
        </service>
        <service android:name="com.kenny.service.ClipboardListenService" >
            <intent-filter>
                <action android:name="com.kingsoft.service.ClipboardListenService" />
            </intent-filter>
        </service>

        <receiver
            android:name="com.kenny.receiver.StartServiceReceiver"
            android:process=":remote" />
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5282236256240b5d2b015b8c" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Baidu_381" />
        <meta-data
            android:name="91SMARTUPDATE_CHANNEL"
            android:value="101" />
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent100499220" />
            </intent-filter>
        </activity>
    </application>

</manifest>